<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Project Demo</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<h1>Project Demo</h1>

		<table class="table table-bordered">
		 <thead>
		 	<tr>
		 		<th></th>
		 		<th>09:00</th>
		 		<th>10:00</th>
		 		<th>11:00</th>
		 		<th>12:00</th>
		 		<th>13:00</th>
		 		<th>14:00</th>
		 		<th>15:00</th>
		 		<th>16:00</th>
		 		<th>17:00</th>
	 		</tr>
	 		</thead>
 			<tbody>
 				<tr>
 					<th scope="row">Monday</th>
					<td>
						<% if  (data.monday["09:00"]) { %>
							<div><%= data.monday["09:00"].title %></div>
							<div><%= data.monday["09:00"].type %></div>
							<div><%= data.monday["09:00"].tutor %></div>
							<div><%= data.monday["09:00"].location.room %></div>
							<div><%= data.monday["09:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["10:00"]) { %>
							<div><%= data.monday["10:00"].title %></div>
							<div><%= data.monday["10:00"].type %></div>
							<div><%= data.monday["10:00"].tutor %></div>
							<div><%= data.monday["10:00"].location.room %></div>
							<div><%= data.monday["10:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["11:00"]) { %>
							<div><%= data.monday["11:00"].title %></div>
							<div><%= data.monday["11:00"].type %></div>
							<div><%= data.monday["11:00"].tutor %></div>
							<div><%= data.monday["11:00"].location.room %></div>
							<div><%= data.monday["11:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["12:00"]) { %>
							<div><%= data.monday["12:00"].title %></div>
							<div><%= data.monday["12:00"].type %></div>
							<div><%= data.monday["12:00"].tutor %></div>
							<div><%= data.monday["12:00"].location.room %></div>
							<div><%= data.monday["12:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["13:00"]) { %>
							<div><%= data.monday["13:00"].title %></div>
							<div><%= data.monday["13:00"].type %></div>
							<div><%= data.monday["13:00"].tutor %></div>
							<div><%= data.monday["13:00"].location.room %></div>
							<div><%= data.monday["13:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["14:00"]) { %>
							<div><%= data.monday["14:00"].title %></div>
							<div><%= data.monday["14:00"].type %></div>
							<div><%= data.monday["14:00"].tutor %></div>
							<div><%= data.monday["14:00"].location.room %></div>
							<div><%= data.monday["14:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["15:00"]) { %>
							<div><%= data.monday["15:00"].title %></div>
							<div><%= data.monday["15:00"].type %></div>
							<div><%= data.monday["15:00"].tutor %></div>
							<div><%= data.monday["15:00"].location.room %></div>
							<div><%= data.monday["15:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["16:00"]) { %>
							<div><%= data.monday["16:00"].title %></div>
							<div><%= data.monday["16:00"].type %></div>
							<div><%= data.monday["16:00"].tutor %></div>
							<div><%= data.monday["16:00"].location.room %></div>
							<div><%= data.monday["16:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.monday["17:00"]) { %>
							<div><%= data.monday["17:00"].title %></div>
							<div><%= data.monday["17:00"].type %></div>
							<div><%= data.monday["17:00"].tutor %></div>
							<div><%= data.monday["17:00"].location.room %></div>
							<div><%= data.monday["17:00"].location.area %></div>
						<% }; %>
					</td>
				</tr>
				<tr>
					<th scope="row">Tuesday</th>
					<td>
						<% if  (data.tuesday["09:00"]) { %>
							<div><%= data.tuesday["09:00"].title %></div>
							<div><%= data.tuesday["09:00"].type %></div>
							<div><%= data.tuesday["09:00"].tutor %></div>
							<div><%= data.tuesday["09:00"].location.room %></div>
							<div><%= data.tuesday["09:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["10:00"]) { %>
							<div><%= data.tuesday["10:00"].title %></div>
							<div><%= data.tuesday["10:00"].type %></div>
							<div><%= data.tuesday["10:00"].tutor %></div>
							<div><%= data.tuesday["10:00"].location.room %></div>
							<div><%= data.tuesday["10:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["11:00"]) { %>
							<div><%= data.tuesday["11:00"].title %></div>
							<div><%= data.tuesday["11:00"].type %></div>
							<div><%= data.tuesday["11:00"].tutor %></div>
							<div><%= data.tuesday["11:00"].location.room %></div>
							<div><%= data.tuesday["11:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["12:00"]) { %>
							<div><%= data.tuesday["12:00"].title %></div>
							<div><%= data.tuesday["12:00"].type %></div>
							<div><%= data.tuesday["12:00"].tutor %></div>
							<div><%= data.tuesday["12:00"].location.room %></div>
							<div><%= data.tuesday["12:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["13:00"]) { %>
							<div><%= data.tuesday["13:00"].title %></div>
							<div><%= data.tuesday["13:00"].type %></div>
							<div><%= data.tuesday["13:00"].tutor %></div>
							<div><%= data.tuesday["13:00"].location.room %></div>
							<div><%= data.tuesday["13:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["14:00"]) { %>
							<div><%= data.tuesday["14:00"].title %></div>
							<div><%= data.tuesday["14:00"].type %></div>
							<div><%= data.tuesday["14:00"].tutor %></div>
							<div><%= data.tuesday["14:00"].location.room %></div>
							<div><%= data.tuesday["14:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["15:00"]) { %>
							<div><%= data.tuesday["15:00"].title %></div>
							<div><%= data.tuesday["15:00"].type %></div>
							<div><%= data.tuesday["15:00"].tutor %></div>
							<div><%= data.tuesday["15:00"].location.room %></div>
							<div><%= data.tuesday["15:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["16:00"]) { %>
							<div><%= data.tuesday["16:00"].title %></div>
							<div><%= data.tuesday["16:00"].type %></div>
							<div><%= data.tuesday["16:00"].tutor %></div>
							<div><%= data.tuesday["16:00"].location.room %></div>
							<div><%= data.tuesday["16:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.tuesday["17:00"]) { %>
							<div><%= data.tuesday["17:00"].title %></div>
							<div><%= data.tuesday["17:00"].type %></div>
							<div><%= data.tuesday["17:00"].tutor %></div>
							<div><%= data.tuesday["17:00"].location.room %></div>
							<div><%= data.tuesday["17:00"].location.area %></div>
						<% }; %>
					</td>
				</tr>
				<tr>
					<th scope="row">Wednesday</th>
					<td>
						<% if  (data.wednesday["09:00"]) { %>
							<div><%= data.wednesday["09:00"].title %></div>
							<div><%= data.wednesday["09:00"].type %></div>
							<div><%= data.wednesday["09:00"].tutor %></div>
							<div><%= data.wednesday["09:00"].location.room %></div>
							<div><%= data.wednesday["09:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["10:00"]) { %>
							<div><%= data.wednesday["10:00"].title %></div>
							<div><%= data.wednesday["10:00"].type %></div>
							<div><%= data.wednesday["10:00"].tutor %></div>
							<div><%= data.wednesday["10:00"].location.room %></div>
							<div><%= data.wednesday["10:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["11:00"]) { %>
							<div><%= data.wednesday["11:00"].title %></div>
							<div><%= data.wednesday["11:00"].type %></div>
							<div><%= data.wednesday["11:00"].tutor %></div>
							<div><%= data.wednesday["11:00"].location.room %></div>
							<div><%= data.wednesday["11:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["12:00"]) { %>
							<div><%= data.wednesday["12:00"].title %></div>
							<div><%= data.wednesday["12:00"].type %></div>
							<div><%= data.wednesday["12:00"].tutor %></div>
							<div><%= data.wednesday["12:00"].location.room %></div>
							<div><%= data.wednesday["12:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["13:00"]) { %>
							<div><%= data.wednesday["13:00"].title %></div>
							<div><%= data.wednesday["13:00"].type %></div>
							<div><%= data.wednesday["13:00"].tutor %></div>
							<div><%= data.wednesday["13:00"].location.room %></div>
							<div><%= data.wednesday["13:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["14:00"]) { %>
							<div><%= data.wednesday["14:00"].title %></div>
							<div><%= data.wednesday["14:00"].type %></div>
							<div><%= data.wednesday["14:00"].tutor %></div>
							<div><%= data.wednesday["14:00"].location.room %></div>
							<div><%= data.wednesday["14:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["15:00"]) { %>
							<div><%= data.wednesday["15:00"].title %></div>
							<div><%= data.wednesday["15:00"].type %></div>
							<div><%= data.wednesday["15:00"].tutor %></div>
							<div><%= data.wednesday["15:00"].location.room %></div>
							<div><%= data.wednesday["15:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["16:00"]) { %>
							<div><%= data.wednesday["16:00"].title %></div>
							<div><%= data.wednesday["16:00"].type %></div>
							<div><%= data.wednesday["16:00"].tutor %></div>
							<div><%= data.wednesday["16:00"].location.room %></div>
							<div><%= data.wednesday["16:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.wednesday["17:00"]) { %>
							<div><%= data.wednesday["17:00"].title %></div>
							<div><%= data.wednesday["17:00"].type %></div>
							<div><%= data.wednesday["17:00"].tutor %></div>
							<div><%= data.wednesday["17:00"].location.room %></div>
							<div><%= data.wednesday["17:00"].location.area %></div>
						<% }; %>
					</td>
				</tr>
				<tr>
 					<th scope="row">Thursday</th>
 					<td>
						<% if  (data.thursday["09:00"]) { %>
							<div><%= data.thursday["09:00"].title %></div>
							<div><%= data.thursday["09:00"].type %></div>
							<div><%= data.thursday["09:00"].tutor %></div>
							<div><%= data.thursday["09:00"].location.room %></div>
							<div><%= data.thursday["09:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["10:00"]) { %>
							<div><%= data.thursday["10:00"].title %></div>
							<div><%= data.thursday["10:00"].type %></div>
							<div><%= data.thursday["10:00"].tutor %></div>
							<div><%= data.thursday["10:00"].location.room %></div>
							<div><%= data.thursday["10:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["11:00"]) { %>
							<div><%= data.thursday["11:00"].title %></div>
							<div><%= data.thursday["11:00"].type %></div>
							<div><%= data.thursday["11:00"].tutor %></div>
							<div><%= data.thursday["11:00"].location.room %></div>
							<div><%= data.thursday["11:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["12:00"]) { %>
							<div><%= data.thursday["12:00"].title %></div>
							<div><%= data.thursday["12:00"].type %></div>
							<div><%= data.thursday["12:00"].tutor %></div>
							<div><%= data.thursday["12:00"].location.room %></div>
							<div><%= data.thursday["12:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["13:00"]) { %>
							<div><%= data.thursday["13:00"].title %></div>
							<div><%= data.thursday["13:00"].type %></div>
							<div><%= data.thursday["13:00"].tutor %></div>
							<div><%= data.thursday["13:00"].location.room %></div>
							<div><%= data.thursday["13:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["14:00"]) { %>
							<div><%= data.thursday["14:00"].title %></div>
							<div><%= data.thursday["14:00"].type %></div>
							<div><%= data.thursday["14:00"].tutor %></div>
							<div><%= data.thursday["14:00"].location.room %></div>
							<div><%= data.thursday["14:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["15:00"]) { %>
							<div><%= data.thursday["15:00"].title %></div>
							<div><%= data.thursday["15:00"].type %></div>
							<div><%= data.thursday["15:00"].tutor %></div>
							<div><%= data.thursday["15:00"].location.room %></div>
							<div><%= data.thursday["15:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["16:00"]) { %>
							<div><%= data.thursday["16:00"].title %></div>
							<div><%= data.thursday["16:00"].type %></div>
							<div><%= data.thursday["16:00"].tutor %></div>
							<div><%= data.thursday["16:00"].location.room %></div>
							<div><%= data.thursday["16:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.thursday["17:00"]) { %>
							<div><%= data.thursday["17:00"].title %></div>
							<div><%= data.thursday["17:00"].type %></div>
							<div><%= data.thursday["17:00"].tutor %></div>
							<div><%= data.thursday["17:00"].location.room %></div>
							<div><%= data.thursday["17:00"].location.area %></div>
						<% }; %>
					</td>
				</tr>
				<tr>
 					<th scope="row">Friday</th>
 					<td>
						<% if  (data.friday["09:00"]) { %>
							<div><%= data.friday["09:00"].title %></div>
							<div><%= data.friday["09:00"].type %></div>
							<div><%= data.friday["09:00"].tutor %></div>
							<div><%= data.friday["09:00"].location.room %></div>
							<div><%= data.friday["09:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["10:00"]) { %>
							<div><%= data.friday["10:00"].title %></div>
							<div><%= data.friday["10:00"].type %></div>
							<div><%= data.friday["10:00"].tutor %></div>
							<div><%= data.friday["10:00"].location.room %></div>
							<div><%= data.friday["10:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["11:00"]) { %>
							<div><%= data.friday["11:00"].title %></div>
							<div><%= data.friday["11:00"].type %></div>
							<div><%= data.friday["11:00"].tutor %></div>
							<div><%= data.friday["11:00"].location.room %></div>
							<div><%= data.friday["11:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["12:00"]) { %>
							<div><%= data.friday["12:00"].title %></div>
							<div><%= data.friday["12:00"].type %></div>
							<div><%= data.friday["12:00"].tutor %></div>
							<div><%= data.friday["12:00"].location.room %></div>
							<div><%= data.friday["12:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["13:00"]) { %>
							<div><%= data.friday["13:00"].title %></div>
							<div><%= data.friday["13:00"].type %></div>
							<div><%= data.friday["13:00"].tutor %></div>
							<div><%= data.friday["13:00"].location.room %></div>
							<div><%= data.friday["13:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["14:00"]) { %>
							<div><%= data.friday["14:00"].title %></div>
							<div><%= data.friday["14:00"].type %></div>
							<div><%= data.friday["14:00"].tutor %></div>
							<div><%= data.friday["14:00"].location.room %></div>
							<div><%= data.friday["14:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["15:00"]) { %>
							<div><%= data.friday["15:00"].title %></div>
							<div><%= data.friday["15:00"].type %></div>
							<div><%= data.friday["15:00"].tutor %></div>
							<div><%= data.friday["15:00"].location.room %></div>
							<div><%= data.friday["15:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["16:00"]) { %>
							<div><%= data.friday["16:00"].title %></div>
							<div><%= data.friday["16:00"].type %></div>
							<div><%= data.friday["16:00"].tutor %></div>
							<div><%= data.friday["16:00"].location.room %></div>
							<div><%= data.friday["16:00"].location.area %></div>
						<% }; %>
					</td>
					<td>
						<% if  (data.friday["17:00"]) { %>
							<div><%= data.friday["17:00"].title %></div>
							<div><%= data.friday["17:00"].type %></div>
							<div><%= data.friday["17:00"].tutor %></div>
							<div><%= data.friday["17:00"].location.room %></div>
							<div><%= data.friday["17:00"].location.area %></div>
						<% }; %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>